.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.grid div {
    height: 38px;
    width: 38px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.checked {
    background-color: red;
}

/* .bomb {
    background-color: orange;
} */